<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942619067176-e6q15upeern7g57fe947k57279u1cqs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942619067176-e6q15upeern7g57fe947k57279u1cqs0</string>
	<key>API_KEY</key>
	<string>AIzaSyByQQTLy3mpSo-m1uclvY0QX4PidVM8TcM</string>
	<key>GCM_SENDER_ID</key>
	<string>942619067176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pHoran.f1ml</string>
	<key>PROJECT_ID</key>
	<string>f1ml-c8d00</string>
	<key>STORAGE_BUCKET</key>
	<string>f1ml-c8d00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942619067176:ios:c6600a420d3b6e5463461d</string>
	<key>DATABASE_URL</key>
	<string>https://f1ml-c8d00-default-rtdb.firebaseio.com</string>
</dict>
</plist>